@media only screen and (min-width:54.5em) {
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    #navigation a:hover {
        color: white;
        background-color: black;
    }
    .border {
        border-top: none;
    }
    header div {
        margin-right: 75px;
    }

    /*Gallery*/

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery h1 {
        grid-column: span 3;
    }
    .gallery-div:hover {
        box-shadow: 4px 4px 4px black;
    }
}