@media only screen and (min-width:34.5em) {
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(5,auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }
    #navigation a:hover {
        color: white;
        background-color: black;
    }

    .index{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto 100px;
        margin-bottom: 25px;
        margin-top: 25px;
        align-items: center;
    }
    .index .firstpic{
        grid-column: 1;
        grid-row: 1;
    }
    .index #tempAct{
        grid-column: 2;
        grid-row: 1;
    }
    .index #summaryTemp{
        grid-column: 1;
        grid-row: 2;
    }
    .index .secpic{
        grid-column: 2;
        grid-row: 2;
    }
    .index button{
        grid-column: 1/-1;
    }

    /* Temples */

    #temples{
        display: grid;
        grid-template-columns: auto auto;
    }

    /* Reception */

    .food{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Missionary */

    .gridSuites{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}