body {
    max-width: 95%;
    margin: 0 auto;
    background-color: #8F8F8F;
    font-family: 'Roboto', sans-serif;
}
header {
    display: grid;
    grid-template-columns: 75px auto;
    background-color: #68B0AB;
    border-radius: 40px;
}
h1, h2 {
    font-family: 'Fraunces', serif;
}
.logo {
    grid-column: 1;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.top-nav {
    grid-column: 2;
    text-align: center;
    align-self: end;
}
.top-nav li {
    display: inline-block;
    width: 22%;
}
.hello {
    color: black;
}
#back-white {
    max-width: 95%;
    margin: 0 auto;
    background-color: white;
}
#green-sheen {
    text-align: center;
    background-color: #68B0AB;
}
#spanish-gray {
    text-align: center;
    background-color: #8F8F8F;
}
#font-test {
    font-family: 'Fraunces', serif;
}
#font-test2 {
    font-family: 'Roboto', sans-serif;
}